body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 900px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1700px !important;
  }
}

.app-container {
  .header-container {
    .navbar {
      font-size: 20px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;

      .navbar-brand {
        font-weight: 600;
      }

      .dropdown-menu {
        min-width: 0;
      }

      .nav-link {
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        &.active {
          color: #008cff;
        }

        &:hover {
          color: #001aff;
        }
      }
    }
  }
  .main-container {
    .homepage-container {
      .homepage-main {
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .HomePagePic {
          position: relative;
          object-fit: cover;
          width: 520px;
        }

        .homepage-text {
          position: relative;
          font-size: 23px;
          font-weight: 600;
          color: #000000;
          width: 520px;

          .homepage-text-inside {
            font-size: 34px;
          }
        }
      }
    }
  }
}
